*{
    padding: 0px;
    margin: 0px;

}

header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    z-index: 1;
    
}

#ajust_slide{
    width: 100%;
    height: 100px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
#caixa_header{
    width: 1230px;
    height: 100px;

}

#caixa_logo{
    width: 65px;
    height: inherit;
    padding-top: 15px;
    box-sizing: border-box;
    float: left;
}



#caixa_assuntos{
    width: 890px;
    height: 100px;
    float: left;
    margin-left: 20px;
}


#caixa_login{
    width: 230px;
    height: inherit;
    float: left;
    margin-left: 20px;

}

#menu{
    width: inherit;
    height: 100px;
    padding-left: 20px;
}

ul{
    width: inherit;
    height: 100px;

}

li{
    height: 25px;
    float: left;
    list-style: none;
    margin-right: 30px;
    margin-top: 35px;
    color: darkgray;
    font-size: 20px;
    
}

.btn_login{
    width: 350px;
    height: 40px;
    float: left;
    padding-top: 5px;
}

.caixa_login{
    width: 115px;
    height: 60px;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;

}

.text{
    width: 110px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}

.user, .senha{
    color: white;
    font-size: 22px;
    color: darkgray;
    margin-left: 25px;
    
}

.btn{
    margin-top: 5px;
    margin-left: 45px;
    width: 150px;
    height: 20px;
    border-radius: 5px; 
}

li:hover{
    color: white;
    cursor: pointer;
    border-bottom: solid 2px #00ffed;
}

#menu_conteudo{
    width: 1230px;
    min-height: 800px;
    height: auto;
    overflow: hidden;
    background-color: gray;
}

#menu_lateral{
    width: 150px;
    height: 400px;
    background-color: black;
}

#menu_lateral li{
    width: 130px;
    height: 30px;
    color: #000000;
    list-style: none;
    background-color: #00ffed;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    
}

#menu_lateral li:hover{
    background-color: black;
    color: yellow;
    transition: 1s;
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
}















/* JQuery */
/*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        .jssora061 {display:block;position:absolute;cursor:pointer;}
        .jssora061 .a {fill:none;stroke:#fff;stroke-width:360;stroke-linecap:round;}
        .jssora061:hover {opacity:.8;}
        .jssora061.jssora061dn {opacity:.5;}
        .jssora061.jssora061ds {opacity:.3;pointer-events:none;}


